In [29]:
import pandas as pd 
import numpy as np

In [30]:
df_raw = pd.read_csv('Heart_Disease_Prediction.csv')
df_raw.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [31]:
df = df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB

In [32]:
df.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [33]:
df['Heart Disease'].unique()

array(['Presence', 'Absence'], dtype=object)

In [44]:
df['Heart Disease'] = df['Heart Disease'].astype(object)

In [43]:
df['Heart Disease'] = df['Heart Disease'].map({
    'Presence' : 1,
    'Absence' : 0
})
df

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,NaN
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,NaN
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,NaN
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,NaN
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,NaN
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,NaN
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,NaN
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,NaN
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,NaN