In [6]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [7]:
df = pd.DataFrame({
    'color': ['red', 'blue','green', 'green' ,'red', 'blue']
})

df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [8]:
encoder = OneHotEncoder()

In [9]:
encoded = encoder.fit_transform(df[['color']]).toarray()

In [10]:
import pandas as pd
encoded_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out() )
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [14]:
encoder.transform([['blue']]).toarray()

g:\Data_Analyst\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [15]:
pd.concat([df,encoded_df ],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0