In [16]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [17]:
df = pd.DataFrame({
    'color': ['red', 'blue','green', 'green' ,'red', 'blue']
})

df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [18]:
encoder = OneHotEncoder()

In [19]:
encoded = encoder.fit_transform(df[['color']]).toarray()

In [20]:
import pandas as pd
encoded_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out() )
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0