In [8]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [9]:
df = pd.DataFrame({
    'color': ['red', 'blue','green', 'green' ,'red', 'blue']
})

df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [10]:
encoder = OneHotEncoder()

In [11]:
encoded = encoder.fit_transform(df[['color']]).toarray()

In [12]:
import pandas as pd
encoded_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out() )
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [13]:
encoder.transform([['blue']]).toarray()

g:\Data_Analyst\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [14]:
pd.concat([df,encoded_df ],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [15]:
import seaborn as sns
df_tips = sns.load_dataset('tips')

In [16]:
df_tips['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [17]:
df_tips['sex'].unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [18]:
tip_encoder = OneHotEncoder()

In [19]:
tip_encoded = tip_encoder.fit_transform(df_tips[['sex']]).toarray()

In [20]:
import pandas as pd
encoded_tip_df = pd.DataFrame(tip_encoded,columns=tip_encoder.get_feature_names_out() )
encoded_tip_df

     sex_Female  sex_Male
0           1.0       0.0
1           0.0       1.0
2           0.0       1.0
3           0.0       1.0
4           1.0       0.0
..          ...       ...
239         0.0       1.0
240         1.0       0.0
241         0.0       1.0
242         0.0       1.0
243         1.0       0.0

[244 rows x 2 columns]

In [22]:
pd.concat([df_tips,encoded_tip_df ], axis=1)

     total_bill   tip     sex smoker   day    time  size  sex_Female  sex_Male
0         16.99  1.01  Female     No   Sun  Dinner     2         1.0       0.0
1         10.34  1.66    Male     No   Sun  Dinner     3         0.0       1.0
2         21.01  3.50    Male     No   Sun  Dinner     3         0.0       1.0
3         23.68  3.31    Male     No   Sun  Dinner     2         0.0       1.0
4         24.59  3.61  Female     No   Sun  Dinner     4         1.0       0.0
..          ...   ...     ...    ...   ...     ...   ...         ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3         0.0       1.0
240       27.18  2.00  Female    Yes   Sat  Dinner     2         1.0       0.0
241       22.67  2.00    Male    Yes   Sat  Dinner     2         0.0       1.0
242       17.82  1.75    Male     No   Sat  Dinner     2         0.0       1.0
243       18.78  3.00  Female     No  Thur  Dinner     2         1.0       0.0

[244 rows x 9 columns]