In [67]:
import pandas as pd

In [68]:
import pandas as pd

data = [32,35,7,8,4.5,7]
series = pd.Series(data)
print("Series \n", series )
print(type(series))

Series
 0    32.0
1    35.0
2     7.0
3     8.0
4     4.5
5     7.0
dtype: float64
<class 'pandas.core.series.Series'>

In [69]:
data={1:"4", 2:"352",3:"52"}
series_pd = pd.Series(data)
print(series_pd)

1      4
2    352
3     52
dtype: object

In [70]:
#Dataframe
data = {
    'Name':['Jack', 'John', 'Suraj'],
    'Age':[32,44,20],
    'City':['Florida', 'Mumbai', 'Gokhpur']
}
df=pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age     City
0   Jack   32  Florida
1   John   44   Mumbai
2  Suraj   20  Gokhpur
<class 'pandas.core.frame.DataFrame'>

In [71]:
data2= [
    {'Name':'Jack','Age':33 ,'City':"Florida" },
    {'Name':'Suraj','Age':66 ,'City':"Florida" },
    {'Name':'suar','Age':22 ,'City':"Florida" },
    {'Name':'Pratham','Age':3 ,'City':"Lundhub" },
]
df=pd.DataFrame(data2)
print(df)
print(type(df))

      Name  Age     City
0     Jack   33  Florida
1    Suraj   66  Florida
2     suar   22  Florida
3  Pratham    3  Lundhub
<class 'pandas.core.frame.DataFrame'>

In [72]:
dff=pd.read_csv('imdb_movies_2024.csv')
dff.head()

,Title,Movie Link,Year,Duration,MPA,Rating,Votes
0,1. Inside Out 2,https://www.imdb.com/title/tt22022452/?ref_=sr...,2024,1h 36m,PG,7.6,194K
1,2. Deadpool & Wolverine,https://www.imdb.com/title/tt6263850/?ref_=sr_t_2,2024,2h 8m,R,7.6,441K
2,3. Wicked,https://www.imdb.com/title/tt1262426/?ref_=sr_t_3,2024,2h 40m,PG,7.9,90K
3,4. Moana 2,https://www.imdb.com/title/tt13622970/?ref_=sr...,2024,1h 40m,PG,7.0,56K
4,5. Despicable Me 4,https://www.imdb.com/title/tt7510222/?ref_=sr_t_5,2024,1h 34m,PG,6.2,55K

In [73]:
dff['Title']
print(dff['Title'])

0              1. Inside Out 2
1      2. Deadpool & Wolverine
2                    3. Wicked
3                   4. Moana 2
4           5. Despicable Me 4
                ...
595             596. Vettaiyan
596                597. Nr. 24
597              598. Parallel
598       599. Fight or Flight
599           600. A Sacrifice
Name: Title, Length: 600, dtype: object

In [74]:
dff.loc[0]

Title                                           1. Inside Out 2
Movie Link    https://www.imdb.com/title/tt22022452/?ref_=sr...
Year                                                       2024
Duration                                                 1h 36m
MPA                                                          PG
Rating                                                      7.6
Votes                                                      194K
Name: 0, dtype: object

In [75]:
dff.iloc[0]

Title                                           1. Inside Out 2
Movie Link    https://www.imdb.com/title/tt22022452/?ref_=sr...
Year                                                       2024
Duration                                                 1h 36m
MPA                                                          PG
Rating                                                      7.6
Votes                                                      194K
Name: 0, dtype: object

In [76]:
dff.at[2,'Duration']

'2h 40m'

In [77]:
dff.iat[2,4]

'PG'

In [78]:

dff['City']= ['india', 'pakistan','khalistan',]
dff /

SyntaxError: invalid syntax (2050992362.py, line 2)

In [79]:
dff.drop('Votes',axis=1, inplace=True)
dff

,Title,Movie Link,Year,Duration,MPA,Rating
0,1. Inside Out 2,https://www.imdb.com/title/tt22022452/?ref_=sr...,2024,1h 36m,PG,7.6
1,2. Deadpool & Wolverine,https://www.imdb.com/title/tt6263850/?ref_=sr_t_2,2024,2h 8m,R,7.6
2,3. Wicked,https://www.imdb.com/title/tt1262426/?ref_=sr_t_3,2024,2h 40m,PG,7.9
3,4. Moana 2,https://www.imdb.com/title/tt13622970/?ref_=sr...,2024,1h 40m,PG,7.0
4,5. Despicable Me 4,https://www.imdb.com/title/tt7510222/?ref_=sr_t_5,2024,1h 34m,PG,6.2
...,...,...,...,...,...,...
595,596. Vettaiyan,https://www.imdb.com/title/tt26936666/?ref_=sr...,2024,2h 43m,NaN,7.1
596,597. Nr. 24,https://www.imdb.com/title/tt23782584/?ref_=sr...,2024,1h 51m,NaN,7.7
597,598. Parallel,https://www.imdb.com/title/tt14637386/?ref_=sr...,2024,1h 28m,NaN,5.3
598,599. Fight or Flight,https://www.imdb.com/title/tt13652286/?ref_=sr...,2024,2h 46m,NaN,7.0
599,600. A Sacrifice,https://www.imdb.com/title/tt16491560/?ref_=sr...,2024,1h 34m,R,5.1

In [82]:
dff['Rating'] = dff['Rating']+1
dff

,Title,Movie Link,Year,Duration,MPA,Rating
0,1. Inside Out 2,https://www.imdb.com/title/tt22022452/?ref_=sr...,2024,1h 36m,PG,10.6
1,2. Deadpool & Wolverine,https://www.imdb.com/title/tt6263850/?ref_=sr_t_2,2024,2h 8m,R,10.6
2,3. Wicked,https://www.imdb.com/title/tt1262426/?ref_=sr_t_3,2024,2h 40m,PG,10.9
3,4. Moana 2,https://www.imdb.com/title/tt13622970/?ref_=sr...,2024,1h 40m,PG,10.0
4,5. Despicable Me 4,https://www.imdb.com/title/tt7510222/?ref_=sr_t_5,2024,1h 34m,PG,9.2
...,...,...,...,...,...,...
595,596. Vettaiyan,https://www.imdb.com/title/tt26936666/?ref_=sr...,2024,2h 43m,NaN,10.1
596,597. Nr. 24,https://www.imdb.com/title/tt23782584/?ref_=sr...,2024,1h 51m,NaN,10.7
597,598. Parallel,https://www.imdb.com/title/tt14637386/?ref_=sr...,2024,1h 28m,NaN,8.3
598,599. Fight or Flight,https://www.imdb.com/title/tt13652286/?ref_=sr...,2024,2h 46m,NaN,10.0
599,600. A Sacrifice,https://www.imdb.com/title/tt16491560/?ref_=sr...,2024,1h 34m,R,8.1

In [83]:
dff.describe()

         Year      Rating
count   600.0  597.000000
mean   2024.0    9.288275
std       0.0    1.249267
min    2024.0    5.100000
25%    2024.0    8.400000
50%    2024.0    9.400000
75%    2024.0   10.100000
max    2024.0   12.500000